{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">


                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Edit Food</h5>
                            </div>
                            <div class="card-body">
                                <h5>Details</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{form.as_p}}
                                            <button type="submit" class="btn btn-primary">Update Food</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
